<?php
$this->headTitle('Paypal Error');
//echo $this->printrTextarea($this->textarea);
?>
<div class="content-wrapper">
    <img src="/img/module/paypal/PP_logo_h_200x51.png" alt="PayPal Logo" class="w3-image w3-padding-8">
    <?php if (!empty($this->shopBasketUnique)) : ?>
        <?php echo $this->shopBasketOverview($this->shopBasketUnique) ?>
    <?php endif; ?>
    <p>
        Es gab einen Fehler.
        <br>
        Bitte den folgenden Code kopieren und dem Administrator Bescheid geben:
        <br>
        Code: <?php echo $this->shopBasketUnique ?>
        <br>
        Url: <?php echo $this->paypalOutUrl ?>
        <br>
        Payment-ID: <?php echo $this->paymentId ?>
    </p>
</div>