<?php
$this->headTitle('Paypal');
//echo $this->printrTextarea($this->textarea);
/*
 * CSS class: content-wrapper
 */
?>
<div class="">
    <img src="/img/module/paypal/PayPal.svg" alt="PayPal Logo" class="w3-image w3-padding-8" style="height: 100px">
    <?php if (!empty($this->shopBasketUnique)) : ?>
        <?php echo $this->shopBasketOverview($this->shopBasketUnique) ?>
    <?php endif; ?>
    <p>
        <?php if ($this->success === true): ?>
            Weiter zu
            <a href="<?php echo $this->paypalOutUrl ?>">
                <img src="/img/module/paypal/PayPal.svg" alt="checkout with PayPal" style="height: 60px">
            </a>
        <?php else: ?>
    <p class="bk-warn">
        Es gab einen Fehler. Bitte kontaktieren Sie den Administrator.
    </p>
<?php endif; ?>
    </p>
</div>
