<?php
$this->headTitle('Paypal');
echo $this->displayMessage($this->message);
echo $this->printrTextarea($this->textarea);
?>
<div class="content-wrapper">
    <h1>BitkornShop Paypal redirect</h1>
    <p>
        Hier dürften Sie nie hin kommen!
    </p>
</div>