
<div class="w3-row w3-padding-8 w3-border">
    <div class="w3-col l4 m6 w3-center">
        <a href="<?php echo $this->url('payment_paypal_start') ?>">
            <img src="/img/module/paypal/PayPal.svg" alt="PayPal" style="height: 60px">
        </a>
    </div>
    <div class="w3-col l8 m6">
        
    </div>
</div>
